h3 {
  width: 50%;
  margin: 20px auto;
}
.form {
  width: 50%;
  margin: 20px auto;
  //   transform: translate(-50%, 50%);
  .Input {
    margin: 10px;
  }
  input {
    width: 100%;
    padding: 5px 0;
    outline: none;
    border-radius: 5px;
  }
  button {
    margin: 10px;
    border: none;
    outline: none;
    padding: 10px 15px;
    color: #fff;
    background-color: #ed5f5f;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
  }
}
